# New run output in this directory is not committed by default. The files listed below are the
# published measurements (tracked); re-running the tools overwrites them in place, review before committing.
*
!.gitignore
!bench_hit.log
!bench_hotcfg.log
!bench_overlap.log
!bench_pipeline.log
!bench_pipeline2.log
!bench_pipeline3.log
!hit_v2.log
!hotcfg_v2.log
!pipeline_v2.log
!pipeline_v2_glue12.log
!pipeline_v2_nojoin.log
!run_diag.out
!run_glue12.out
!run_hit.out
!run_hit2.out
!run_pin.out
!run_pin2.out
!run_pin3.out
!run_pin4.out
!run_pin5.out
!run_pin6.out
!run_pin7.out
!run_pipe2.out
!run_pk.out
!run_pt.out
!run_pt2.out
!run_rest.out
!run_v2.out
!test_pin_api.log
!test_pin_api2.log
!test_pin_api3.log
!test_pin_api4.log
!test_pin_api5.log
!test_pin_api6.log
!test_pin_api7.log
!test_prefetch_kernel.log
!test_prefetch_tune.log
!test_prefetch_tune2.log
